.supports{
    width: 90%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.supports img{
  
    width: 16%;
    border-radius: 200px;
    border: 2px solid gray;
}